
.navbar {
  height: 60px;
  background: #3c8dbc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logout {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar {
  height: 60px;
  background: #3c8dbc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}